
/*body element style for every page*/
h1 {

  background-color:#99ccff;
  color:#3399cc !important;
  font-family: Georgia, "Times New Roman", serif !important;
  line-height: 250% !important;
  height: 86px !important;
  text-indent: 140px !important;
}

body {
  background-color: #d6ebff
}

dd {
  margin-left: 20px;
}

footer {
  background-color:#99ccff;
  line-height: 250%;
  height: 86px;
  text-indent: 140px;
  font-family: inherit !important;
}

/*container for every page*/
#page-wrapper {
  width:90%;
margin: auto;
background-color:#ffffff;
padding: 0 20px 10px;
box-shadow: 5px 5px 5px #828282;
}

.pagetitle {
  font-family: cursive;
  text-align: left;
  text-shadow: 1px 1px 1px #99ccff;
  font-size: 25px
}

.bodytext {
  font-family: fantasy;
  text-size: 15px;
}


.h3style {
    font-family: cursive;
    color: #99ccff;
    text-shadow: 2px 2px 1px #000000;
    font-size: 20px

}

.liststyle {
  font-family: fantasy;
  text-size: 15px;
  list-style-type: square;

}

.imagestyle {
  border-style: double;
  border-width: medium;
  border-color: #99ccff;
}

/*footer style*/
#footertext {
  line-height: 95%;
  padding-left: 100px;
}

#copyright {
  float: right;
  padding-right: 10px;
  line-height: 900%;
  font-family: Georgia, "Times New Roman", serif;
  font-size: small;

}

/*navigation hover effect*/
  #navigation1:hover {
       filter: grayscale(100%);
  }

  #navigation2:hover {
       filter: grayscale(100%);
  }
  #navigation3:hover {
       filter: grayscale(100%);
  }
  #navigation4:hover {
       filter: grayscale(100%);
  }
  #navigation5:hover {
       filter: grayscale(100%);
  }


/*index.html*/
  /*index.html welcome*/
  #homepagewelcome {
    font-family: cursive;
    text-align: center;
    text-shadow: 3px 3px 1px #99ccff;
    font-size: 40px
  }

  /*index.html slideshow*/
  * {box-sizing:border-box}


  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }


  .mySlides {
      display: none;
  }


  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }


  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }


  .prev:hover, .next:hover {
    background-color: #99ccff;
  }




  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #99ccff;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #aaa;
  }


  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
/*index about*/
#indexabout {
  text-align: center;
  background-color: #99ccff;
  width: 150px;
  height: 35px;
  border-style: double;
  border-width: normal;
  border-color: #000000;
  border-radius: 7px;
  margin: auto;

}

.indexabouttext {
  text-align: left;
  font-family: fantasy;
}

/*amenities.html*/
/*accordion*/
.accordion {
    background-color: #99ccff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 75%;
    text-align: center;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    margin-left: 140px;
    font-family: cursive;
    color: #000000;
    text-shadow: 1px 1px 1px #000000;
    font-size: 20px
}


.active, .accordion:hover {
    background-color: #ccc;
}


.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
    width: 75%;
    margin: auto;
    margin-left: 140px;
    height: 175px;
}
.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.activeaccordion:after {
    content: "\2796";
}

/*rooms html*/
/*top images*/
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
  border-style: double;
  border-width: medium;
  border-color: #99ccff;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
